.advertise_section{
    .advertise_image{
        position: relative;

        .advertise_info{
            position: absolute;
            top: 0;
            height: 100%;
            left: 0;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 50px;

            .repair_service{
                color: white;
                font-size: 20px;
                font-weight: 600;
                margin-top: 10px;
            }

            .repair_title{
                font-size: 30px;
                font-weight: 600;
                color: white;
                line-height: 35px;
                margin: 10px 0;
            }
            p{
                margin: 0;
                margin-top: 10px;
                color: white;
                font-size: 14px;
                font-weight: 500;
                background: linear-gradient(90deg, #3256e0, #5897fb 100%);
                border-radius: 50px;
                display: inline-block;
                padding: 6px 22px;
                cursor: pointer;

                svg{
                    fill: white;
                    padding: 3px;
                }
            }
        
        }
    }
}